.log 
    display: block
    min-height: 30px
    margin: 0
    background: #2f2d2d
    color: #fff
    font-size: 12px
    padding: 5px 10px  
    font-family: "Roboto", sans-serif
    /* Portrait */
    @media screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
          min-width: 286px
    }
    

    .dodge
      color green 
    .crit
      color red
    .luck
      color gold
    .devider
      font-size: 16px