// Import all partials
@require './_*.styl'

#root
  // background: #333
  background: url('http://res.cloudinary.com/igocooper/image/upload/v1527333280/bg_ohucug.png')
  height: 100vh

button
 outline none !important

button
  cursor: pointer

.board 
  display: flex
  // background: #333
  justify-content: space-around
  align-items: center
  // height 100vh
  /* Portrait */
  @media screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        flex-direction: column
  }


.battle-menu
    // background #333
    display: flex
    justify-content center
    align-items: center 

.modification-popup
   span 
      margin-left 10px   
   i.icon 
     cursor pointer    

.ui.grey.menu 
  background #rgba(118, 118, 118, .8)     
 